.Course-page-app {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}



.Course-container {
    max-width: 80vmin;
    background-color:#383c47;
    margin-top: 10vmin;
}



.Course-segment {
    padding: 1vh;
    margin: 5vh;
    font-size: 4vh;
    border-bottom: 0.3vh solid #00ffff;
    border-left: 0.3vh solid #00ffff;
    border-top: 0.1vh solid #009999;
    border-right: 0.1vh solid #009999;
    display: flex;
    flex-direction: column;
}



.Course-title {
    min-width: 80vmin;
    font-size: 4vmin;
}