.Course-segment {
    padding: 1vh;
    margin: 5vh;
    font-size: 4vh;
    border-bottom: 0.3vh solid #00ffff;
    border-left: 0.3vh solid #00ffff;
    border-top: 0.1vh solid #009999;
    border-right: 0.1vh solid #009999;
    display: flex;
    flex-direction: column;
}



.Course-title {
    font-size: 4vmin;
}



.Courses-description {
    font-size: 2vmin;
    color: #cccccc
}

.Top-container {
    margin: 3.5vmin 5vmin;
    display: flex;
    justify-content: space-between;
}

h3 {
    max-width: 75%;
    font-size: 4vmin;
}

.Course-members-button {
    border: 0.1vh solid #00ffff;
    padding: 1vh;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.Course-members-button:hover {
    border: 0.1vh solid #00ff80;
}

.Course-members-title {
    font-weight: 500;
}

.DropdownList {
    list-style-type: none;
    padding-left: 0;
    margin: 0 1.5vmin 1.5vmin 1.5vmin;
    display: flex;
    flex-direction: column;
}

.DropdownList :active
.DropdownList :focus {
    list-style-type: none;
    padding-left: 0;
    margin: 0 1.5vmin 1.5vmin 1.5vmin;
}

.dropdown-item{
    border: 0.3vh solid #edf5f5;
    padding: 0.8vh;
    text-decoration: none;
    color: inherit;
    /* border-bottom: 0.3vh solid #edf5f5;
    border-left: 0.3vh solid #edf5f5;
    border-top: 0.1vh solid #8e9393;
    border-right: 0.1vh solid #8e9393; */
    margin-bottom: -0.2vh;
}

.dropdown-item:hover{
    border: 0.3vh solid #00ff80;
    padding: 0.8vh;
    /* border-bottom: 0.3vh solid #edf5f5;
    border-left: 0.3vh solid #edf5f5;
    border-top: 0.1vh solid #8e9393;
    border-right: 0.1vh solid #8e9393; */
    margin-bottom: -0.2vh;
}

.dropdown-item:last-child{
    border: 0.3vh solid #ff0000;
    padding: 0.8vh;
    text-decoration: none;
    /* border-bottom: 0.3vh solid #edf5f5;
    border-left: 0.3vh solid #edf5f5;
    border-top: 0.1vh solid #8e9393;
    border-right: 0.1vh solid #8e9393; */
    color: #ff0000;
    margin-top: 0.2vh;
}

.DropdownList.dropdown-menu.show{
    position: unset;

}