.Element-container, .Element-dates, .Table-borders, .Element-status {
    margin: 3.5vmin 5vmin;
    display: flex;
    flex-direction: column;
}



.Element-dates {
    margin: 0vmin;
}



.Element-title {
    font-size: 5vmin;
    padding-bottom: 2vmin;
}



.Element-status {
    margin: 1vmin;
}



.Element-info {
    font-size: 3vmin;
    color: #e4e4e4
}



.Title-borders {
    font-size: 3vmin;
    border: 0.1vmin solid #00ffff;
}



.Table-borders {
    margin: 0vmin;
    font-size: 3vmin;
    border-bottom: 0.1vmin solid #009999;
    border-left: 0.1vmin solid #009999;
}