.Top-bar {
    height: 7.8vmin;
    width: 100vw;
    background-color: #4f5564;
    text-align: center;
    position: fixed;
    top: 0vh;
    border-bottom: 0.3vh solid #00ffff;
    border-left: 0.3vh solid #00ffff;
    /* border-top: 0.1vh solid #009999;
    border-right: 0.1vh solid #009999; */
}



.Top-bar-segment {
    float: right; 
    margin-top: 1vmin;
}



.Top-bar-text {
    color: white;
    font-size: 4vmin;
    padding: 1vmin;
    margin-right: 1vmin;
    cursor: pointer;
    border-bottom: 0.3vmin solid #4f5564;
    border-left: 0.3vmin solid #4f5564;
    border-top: 0.1vmin solid #4f5564;
    border-right: 0.1vmin solid #4f5564;
}
.Top-bar-text:hover {
    border-bottom: 0.3vmin solid #00ff80;
    border-left: 0.3vmin solid #00ff80;
    /* border-top: 0.1vmin solid #00994d; */
    /* border-right: 0.1vmin solid #00994d; */
}



.Top-bar-app-logo {
    width: 5.8vmin;
    margin: 1vmin;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
    .Top-bar-app-logo {
        animation: App-logo-spin infinite 50s linear;
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}





